form {
    position: relative;
    padding-top: 25px;
    text-align: center;
  }
 
  .searchBar {
    position: relative;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    padding: 10px 0 10px 60px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0px 10px lightblue;
    color: white;
    letter-spacing: 3px;
    outline: none;
    transition: all 0.35s ease-out;
    box-shadow: 0px 0px 10px lightblue;
    background-color:rgba(166, 216, 233, 0.42);
  }
  
  .searchBar:focus {
    border: 1px solid lightblue;
  }
  
  ::placeholder {
    color:rgba(255, 255, 255, 0.767);
    transition: all 0.35s ease-out;
    
  }
  
  .searchBar:focus::placeholder {
    color: lightblue;
  }
  
  .searchIcon {
    position: absolute;
    z-index: 9999;
    width: 45px;
    height: 45px;
    margin: 1px 0 0 5px;
  }
  
  .noDisplay {
    display: none;
    opacity: 0;
    visibility: hidden;
  }